@{
    ViewData["Title"] = "Правила использования системы";
}



<div class="container">
    <h3 class="mt-3"><b>Правила использования системы</b></h3>
    <div>
        <p class="text-muted">Дата опубликования текущей версии: «14» сентября 2021 г.</p>
        <p>
            Настоящий документ определяет правила использования системы learn-courses.ru
        </p>
        <p><b>Термины и определения</b></p>
        <p>
            <b>Договор</b> — Лицензионный договор, заключенный между Лицензиатом и
            Лицензиаром.
        </p>
        <p>
            <b>Личный Кабинет</b> — раздел Системы, предназначенный для использования Лицензиатом
            и Пользователями. Может быть использован для хранения
            информации, документов и обмена сообщениями Сторон. Содержит
            информацию о количестве Активных пользователей в Отчетном
            периоде.
        </p>
        <p>
            <b>Пользователь</b> — любое дееспособное лицо, которому Лицензиат предоставил доступ
            к Личному кабинету.
        </p>
        <p>
            <b>Активный Пользователь</b> — Пользователь, который находится в Личном кабинете более 5 (пяти)
            минут подряд в течении Отчетного периода.
        </p>
        <p>
            <b>Тариф</b> — размер вознаграждения Лицензиара за предоставление доступа к
            Основному функционалу Системы на определенный период.
        </p>
        <p>
            <b>Контент</b> — текстовые, графические, аудиовизуальные и иные материалы,
            размещаемые Лицензиатом с помощью Личного кабинета.
        </p>
        <p>
            <b>Политика конфиденциальности</b> — документ, определяющий порядок обработки персональной
            информации Пользователей
        </p>
        <p>
            <b>Атака</b> — распределенная атака на Систему, выполняемая с целью ее отказа, то
            есть создание повышенной нагрузки на Систему или ее компоненты,
            в результате которой Пользователи не могут получить доступ
        </p>
        <p><b>1. Назначение Системы</b></p>
        <p>
            1.1. Система предназначена для создания, организации и проведения вебинаров, учебных
            курсов и тестов
        </p>
        <p><b>2. Способы использования Системы</b></p>
        <p>2.1. Лицензиат вправе использовать Систему следующими способами:</p>
        <p>
            2.1.1 получение доступа к Личному кабинету и использование функционала Личного
            кабинета;
        </p>
        <p>2.1.2. загрузка Контента;</p>
        <p>
            2.1.3. использование иного доступного функционала Системы, указанного в Тарифе.
        </p>
        <p>
            2.2. Все действия, совершаемые Лицензиатом в Системе, считаются совершенными им
            лично
        </p>
        <p>
            2.3. В случае потери доступа к Личному кабинету Лицензиат незамедлительно уведомляет
            об этом Лицензиара. Лицензиар проверяет поступившую от Лицензиата информацию и
            возвращает ему доступ к Личному кабинету.
        </p>
        <p>
            <b>3. Техническая поддержка</b>
        </p>
        <p>
            З.1. Объем и пределы технической поддержкки, сроки ответов на запросы, каналы
            коммуникаций, определяются Лицензиаром
        </p>
        <p>З.2. Обеспечение работоспособности происхолит удаленно через сервера Лицензиара.</p>
        <p><b>4. Защита информации Лицензиата</b></p>
        <p>
            4.1. Лицензиар выполняет обработку персональных данных сотрудников Лицензиата и
            Пользователей в целях исполнения договора и согласно требованиям,
            установленным Федеральным законом «О персональных данных» от 27.07.2006 №152-ФЗ.
        </p>
        <p>
            4.2. Порядок обработки и защиты персональных данных определяется согласно
            Политике конфиденциальности.
        </p>
        <p>
            4.3. В случае обработки Лицензиатом персональных данных третьих лиц, Лицензиат
            самостоятельно несет ответственность за соблюдение надлежащих мер по защите
            персональных данных, согласно требованиям Закона о персональнх данных и иных
            законов и подзаконных актов.
        </p>
        <p><b>5. Гарантии и запреты Сторон</b></p>
        <p>5.1. Лицензиар гарантирует наличие законных прав на Систему.</p>
        <p>5.2. Лицензиат гарантирует:</p>
        <p>5.2.1. наличие прав на Контент, публикуемый им в Системе;</p>
        <p>
            5.2.2.  если от имени юридического лица регистрируется физическое лицо, либо ему
            предоставляется доступ к Системе, то у такого физического лица есть
            полномочия на регистрацию и использование Системы.
        </p>
        <p>
            5.3. Использовать программные ошибки Системы в своих целях и передавать информацию
            об их наличии третьим лицам, за исключением Лицензиара;
        </p>
        <p>5.4. Предпринимать попытки обойти технические ограничения, установленные Системой</p>
        <p>
            5.5. Применять сторонние программы или иные средства для улучшения или
            автоматизации возмозможностей Системы;
        </p>
        <p>
            5.6. Выдавать себя за сотрудника службы поддержки Системы, члена любой из групп Помощников Системы 
            (администраторов, модераторов, консультантов и т.д.), бывшего
            или действующего;
        </p>
        <p>5.7. Фальсифицировать или удалять любую информацию о о правообладателях Системы;</p>
        <p>
            5.8. Осуществлять модификацию программного обеспечения, входящего в Систему, в том
            числе изменять, декомпилировать, дизассемблировать, дешифровать и производить
            иные действия с исходным кодом Системы
        </p>
        <p>
            5.9. Распространять, копировать или иным образом осуществлять обнародование
            программного обеспечения, входящего в Систему;
        </p>
        <p>
            5.10. Осушествлять использование Системы или ее частей за пределами срока действия
            Договора и/или за пределами оплаченного Тарифа
        </p>
        <p>
            5.11. Осуществлять с помощью Системы рассылку сообщений без получения
            предварительного согласия получателей;
        </p>
        <p>
            5.12. Использовать Систему для публикации, распространения, хранения, передачи в любой
            форме информации, которая является незаконной, вредоносной, угрожающей,
            клеветническоЙ, подстрекающеЙ к насилию над каким-либо лицом или группоЙ лиц,
            содержит оскорбления в адрес конкретных лиц или организаций и т.п
        </p>
        <p><b>6. Ответственности сторон</b></p>
        <p>
            6.1. Система предоставляется Лицензиату «как есть» (as is), в соответствии с
            общепринятым в международной практике принципом.
        </p>
        <p>6.2.  Лицензиат несет ответственность за:</p>
        <p>
            6.2.1. актуальность, достоверность, отсутствие претензий третьих лиц в отношении
            информации, предоставляемой при регистрации;
        </p>
        <p>
            6.2.2. любой Контент, материалы и информацию, которую размещает с помощью
            Системы, а также последствия от их использования;
        </p>
        <p>
            6.2.3. собственные действия в Системе в соответствии с законодательством Российской
            Федерации.
        </p>
        <p>6.3. Лицензиар не несет ответственности:</p>
        <p>
            6.3.1. за специализированные ресурсы и качество каналов сетей связи общего
            пользования, посредством которых предоставляется доступ к Системе;
        </p>
        <p>
            6.3.2.  за вред, причиненный сотрудниками Лицензиата, которым он предоставил доступ
            к Системе;
        </p>
        <p>
            6.3.3. перед Лицензиатом или перед любыми третьими лицами за сведения, порочащие
            честь, достоинство или деловую репутацию, размещенные в Системе;
        </p>
        <p>
            6.3.4. за поломки или другие неполадки компьютера, мобильного устройства, любого
            другого устроЙства Лицензиата, возникшие во время использования Системы
        </p>
        <p>
            6.3.5. за последствия, вызванные утерей или разглашением Лицензиатом своих данных,
            необходимых для доступа к Системе;
        </p>
        <p>
            6.3.6. за ошибки и/или нарушения, связанные с эксплуатацией Системы и возникшие в
            результате неправомерных действий персонала Лицензиата либо третьих лиц;
        </p>
        <p>
            6.3.7. За действия третьих лиц по принудительному снижению доступности сети
            Интернет или программно-аппаратных компонентов Системы;
        </p>
        <p>
            6.3.8. За сбои и перерывы в работе Системы, вызванные обстоятельствами
            непреодолимой силы, а именно: пожарами, наводнениями, землетрясениями,
            забастовками, воЙнами, действиями органов государственной власти или другими
            НЕ Зависящими от Сторон обстоятельствами, Такие обстоятельства должны быть
            Подтверждены справками компетентных органов не позднее 10 (десяти) рабочих
            дней после начала их действия;
        </p>
        <p>
            6.3.9. За Сбои и перерывы в работе Системы, вызванные Атаками, действиями
            государственных органов, включая органы правопорядка, связанных с
            наложением ареста и/или изъятием.
        </p>
        <p><b>7. Блокировка личного кабинета</b></p>
        <p>
            7.1. Лицензиар вправе заблокировать доступ к Личному кабинету Лицензиата в одном из
            следующих случаев:
        </p>
        <p>
            7.1.1.  Нарушения Лицензиатом условий договора, Правил использования системы или
            положений законодательства Российской Федерации;
        </p>
        <p>7.1.2. Получения от третьих лиц претензии о нарушении Лицензиатом их прав;</p>
        <p>7.1.3. Получения соответствующих требований от государственных органов.</p>
        <p>
            7.2. В случае блокировки Личного кабинета Лицензиаром оплаченные денежные средства
            не возвращаются.
        </p>
        <p>
            7.3. Лицензиат обязуется самостоятельно предпринять все действия для прекращения
            выявленного Лицензиаром нарушения.
        </p>
        <p><b>8. Заключительные положения</b></p>
        <p>
            8.1. Правила могут быть изменены или дополнены Лицензиаром без дополнительного
            уведомления Лицензиата в любое время. Новая редакция Правил вступает в силу с
            момента их размещения в Системе
        </p>
        <p>
            8.2. Продолжение использования Системы после внесения изменений и/или дополнений в
            правила Означает принятие и согласие Лицензиата с такими изменениями и/или
            дополнениями
        </p>
        <p>
            8.3.  Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с
            законодательством Российской Федерации
        </p>
    </div>
</div>
