@{
    ViewData["Title"] = "Обучающие курсы";
}

<section class="start-block">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div data-wow-duration="1s" class="wow bounceInLeft col-lg-6 col-12 d-flex align-items-center justify-content-center">
                <div class="start-block__image d-flex align-items-center justify-content-center">
                    <img src="~/img/noobok.webp" alt="">
                </div>
            </div>
            <div data-wow-duration="1s" class="wow bounceInRight d-flex align-items-center col-lg-5 col-12 mt-5 mt-lg-0">
                <div class="start-block__content">
                    <h1 class="start-block__header">Подписка на ВСЕ доступные курсы</h1>
                    <div class="start-block__about mt-lg-5 mt-3">
                        Более 100 готовых онлайн-курсов от надежных авторов и разработчиков, которые постарались сделать для Вас
                        удобные пакетные решения, включающие в себя: продажи, мотивация, управление, бизнес, IT и много чего еще интересного.
                        Вместе с подпиской на курсы мы предоставляем полноценный доступ к платформе без ограничений к курсвам, чтобы было
                        где обучаться.
                    </div>
                    <div class="button__subscribe mt-lg-5 mt-3">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-warning p-3 wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" asp-controller="Courses" asp-action="Prices">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="profit-block">
    <div class="container">
        <h3 class="header-text text-center">Чем выгодна подписка на наши обучающие курсы?</h3>
        <div class="row mt-5">
            <div data-wow-duration="1s" class="wow bounceInUp col-lg-4 col-12">
                <div class="profit-block__item">
                    <div class="profit-block__item-header d-flex align-items-center">
                        <div class="item-header__number p-3">
                            1
                        </div>
                        <h5 class="item-header__text p-3">
                            Уникальность учебных курсов
                        </h5>
                    </div>
                    <div class="profit-block__item-text p-3 text-muted">
                        Наши лучшие учителя продумывали учебную программу для Вас, а именно: подготавливали материалы,
                        создавали контент и
                        формировали курсы  — таким образом, мы предлагаем для Вас
                        только уникальный контент,
                        которого нет в других источниках.
                    </div>
                </div>
            </div>
            <div data-wow-duration="1s" class="wow bounceInUp col-lg-4 col-12">
                <div class="profit-block__item">
                    <div class="profit-block__item-header d-flex align-items-center">
                        <div class="item-header__number p-3">
                            2
                        </div>
                        <h5 class="item-header__text p-3">
                            Доступное обучение и актуальные темы
                        </h5>
                    </div>
                    <div class="profit-block__item-text p-3 text-muted">
                        Актуальность тем прорабатавается нашими специалистами для Вас,
                        и именно поэтому полученные навыки на наших курсах будут всегда пользоваться спросом
                        у Ваших потенциальных нанимателей,
                        а доступные ежемесячные цены подписки на наш сервис обеспечат вам доступ ко <b>ВСЕМ</b> курсам, которые Вы пожелаете!
                    </div>
                </div>
            </div>
            <div data-wow-duration="1s" class="wow bounceInUp col-lg-4 col-12">
                <div class="profit-block__item">
                    <div class="profit-block__item-header d-flex align-items-center">
                        <div class="item-header__number p-3">
                            3
                        </div>
                        <h5 class="item-header__text p-3">
                            Идеальная инвестиция в собственное будущее
                        </h5>
                    </div>
                    <div class="profit-block__item-text p-3 text-muted">
                        Ваше будущее — в ваших руках! Доступность и простота предлагаемых нами курсов в обучении для Вас
                        обеспечит вам быстрое и результативое усвоение предлагаемых материалов по всем самым актуальным
                        и востребованным направлениям. Осталось только начать!
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section data-wow-duration="1s" class="wow bounceInUp change-course-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mt-5 mt-lg-0 order-lg-0 order-1">
                <div class="change-course-block__img d-flex justify-content-center">
                    <img src="~/img/learning-woman.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex align-items-center order-lg-1 order-0">
                <div>
                    <h3 class="header-text text-center">Выбирайте любые курсы для обучения</h3>
                    <div class="mt-5 change-course-block__text text-muted">
                        Мы предоставляем гибкие условия: вы можете выбрать любые доступные предлагаемые нами курсы для Вас —
                        начиная от управления персоналом до разработки информационных систем!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="offer-courses-block">
    <div class="container">
        <h3 class="header-text text-center">Достигайте поставленных целей с помощью качественного обучения</h3>
        <div data-wow-duration="1s" class="wow bounceInUp row justify-content-around">
            <div class="col-lg-4 col-12">
                <div class="offer-courser-block__img  d-flex justify-content-center align-items-center">
                    <img src="~/img/business-man.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-5 mt-lg-0">
                <div>
                    <h5 class="offer-courses-block__header-courses"><b>Продажи</b></h5>
                    <div class="mt-3 text-muted">
                        Освойте профессиональную компетенцию в сфере продаж: от составления коммерческих предложений,
                        презентаций товаров и услуг, работы с возражениями, общению с ЛПР и холодными звонками.
                    </div>
                    <div class="button__subscribe mt-5">
                        <div class="d-flex">
                            <a class="btn btn-warning p-3 wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" asp-controller="Courses" asp-action="Prices">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-wow-duration="1s" class="wow bounceInUp row justify-content-around">
            <div class="col-lg-4 col-12 order-lg-1 order-0">
                <div class="offer-courser-block__img  d-flex justify-content-center align-items-center">
                    <img src="~/img/itboy.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-5 mt-lg-0 order-lg-0 order-1">
                <div>
                    <h5 class="offer-courses-block__header-courses"><b>Информационные технологии</b></h5>
                    <div class="mt-3 text-muted">
                        Информационные технологии сопровождают нас повсюду — в связи с этим профессиональные компетенции
                        в этой области самые востребованные, высокооплачиваеммые, а также актуальные на рынке труда.
                    </div>
                    <div class="button__subscribe mt-5">
                        <div class="d-flex">
                            <a class="btn btn-warning p-3 wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" asp-controller="Courses" asp-action="Prices">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-wow-duration="1s" class="wow bounceInUp row justify-content-around">
            <div class="col-lg-4 col-12">
                <div class="offer-courser-block__img  d-flex justify-content-center align-items-center">
                    <img src="~/img/boss.webp" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-5 mt-lg-0">
                <div>
                    <h5 class="offer-courses-block__header-courses"><b>Менеджмент</b></h5>
                    <div class="mt-3 text-muted">
                        Управление персоналом важная составляющая часть любого бизнеса, ведь от правильно
                        сформированных бизнес-процессов, а также умения работы с людьми определяет эффективность
                        в работе
                    </div>
                    <div class="button__subscribe mt-5">
                        <div class="d-flex">
                            <a class="btn btn-warning p-3 wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" asp-controller="Courses" asp-action="Prices">Оформить подписку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-wow-duration="1s" class="wow bounceInUp howjob-block">
    <div class="container">
        <h3 class="header-text text-center">Как мы будем работать с Вами?</h3>
        <div class="row text-center how-job-block__items">
            <div class="col-lg-3 col-12">
                <div class="how-job__item">
                    <div class="how-job__item__number text-center">
                        1
                    </div>
                    <div class="how-job__item__img p-5">
                        <img src="~/img/makeico.png" alt="">
                    </div>
                    <div class="how-job__item__header mt-3">
                        Принимаете решение о покупке ежемесячной подписки
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0">
                <div class="how-job__item">
                    <div class="how-job__item__number text-center">
                        2
                    </div>
                    <div class="how-job__item__img p-5">
                        <img src="~/img/cashless-payment.png" alt="">
                    </div>
                    <div class="how-job__item__header mt-3">
                        Оплачиваете удобным для Вас способом с помощью системы электронных платежей
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0">
                <div class="how-job__item">
                    <div class="how-job__item__number text-center">
                        3
                    </div>
                    <div class="how-job__item__img p-5">
                        <img src="~/img/delivery.png" alt="">
                    </div>
                    <div class="how-job__item__header mt-3">
                        Получаете доступ к личному кабинету с обучающими курсами
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mt-5 mt-lg-0">
                <div class="how-job__item">
                    <div class="how-job__item__number text-center">
                        4
                    </div>
                    <div class="how-job__item__img p-5">
                        <img src="~/img/reading.png" alt="">
                    </div>
                    <div class="how-job__item__header mt-3">
                        Обучаетесь
                    </div>
                </div>
            </div>
        </div>
        <div class="button__subscribe mt-5">
            <div class="d-flex justify-content-center">
                <a class="btn btn-warning p-3 wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" asp-controller="Courses" asp-action="Prices">Оформить подписку</a>
            </div>
        </div>
    </div>
</section>
<section data-wow-duration="1s" class="wow bounceInUp feedback-block">
    <div class="container">
        <div class="row">
            <h3 class="header-text text-center mt-3">Остались вопросы?</h3>
            <h5 class="mt-3 text-center">Оставьте заявку ниже и мы с вами обязательно свяжемся!</h5>
            <div class="container mt-3 mb-5">
                <div class="row">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input type="name" name="name" class="form-control" id="name" placeholder="Имя">
                        </div>
                        <div class="form-group mt-3">
                            <label for="email1">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email1" placeholder="Email">
                        </div>
                        <div class="form-group mt-3">
                            <label for="phone">Номер телефона:</label>
                            <input type="phone" name="phone" class="form-control" id="phone" placeholder="Телефон">
                        </div>
                        <div class="form-group mt-3">
                            <label for="message">Сообщение:</label>
                            <textarea class="form-control" name="message" rows="5"></textarea>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-muted" for="flexCheckDefault">
                                <a class="text-decoration-none" target="_blank" href="/Oferta/PrivacyDataOferta">Согласен с политикой защиты данных</a>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-success">Отправить сообщение</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/wow.min.js"></script>
    <script>
        wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true
        })
        wow.init();
    </script>
}